@page
@model MigsModernization.Pages.StagingAreas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Staging Area?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StagingArea.CityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StagingArea.CityName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="StagingArea.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
