@page
@namespace MigsModernization.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .carousel img {
        width: 100% !important;
        min-width: 100% !important;
        height: auto;
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://www.championdoor.com/assets/Uploads/_resampled/croppedimage1120780-NK4-180-Hangar-Door.jpg" alt="Migs Modernization Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" asp-page="/Migs/Index">
                        Migs Modernizations Management
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://i46.tinypic.com/33wxyjd.jpg" alt="Airplane types" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" asp-page="/Airplanes/Index">
                        Airplanes
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://xon.panic.pl/Jackowlew/albums/userpics/10001/normal_Obraz_054.jpg" alt="Units" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" asp-page="/Units/Index">
                        Units
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://wmazurkiewicz.pl/wp-content/uploads/2015/03/22-BLT-001-1024x576.jpg" alt="Staging areas" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" asp-page="/StagingAreas/Index">
                        Staging areas
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://ic.pics.livejournal.com/bmpd/38024980/3320863/3320863_original.jpg" alt="Modernization types" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" asp-page="/ModernizationTypes/Index">
                        Modernization Types
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>